In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import sys
g_key = ''

In [2]:

city_data_df = pd.read_csv("../WeatherPy/Weather.csv")

In [3]:
city_data_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Saldanha,-33.0117,17.9442,290.15,82,6,2.57,ZA,1612404021
1,Georgiyevka,43.0369,74.7114,268.15,93,90,0.63,KZ,1612404021
2,Upernavik,72.7868,-56.1549,246.75,70,0,2.17,GL,1612404021
3,Vaini,-21.2000,-175.2000,300.85,82,100,4.39,TO,1612404022
4,Qaanaaq,77.4840,-69.3632,243.14,64,0,2.20,GL,1612404022
...,...,...,...,...,...,...,...,...,...
540,Whitehorse,60.7161,-135.0538,253.15,77,20,1.03,CA,1612404007
541,Santa Cruz de la Sierra,-17.8000,-63.1667,298.15,83,75,6.69,BO,1612404006
542,Tortolì,39.9256,9.6572,287.04,88,0,5.14,IT,1612404177
543,Flinders,-34.5833,150.8552,301.48,65,46,2.24,AU,1612404177
544,Myitkyina,25.3833,97.4000,289.91,46,0,1.31,MM,1612404177

In [4]:
city_data_df['Max Temp_two'] = (((city_data_df['Max Temp']-273.15)*9)/5) + 32

In [5]:
drop_city_df= city_data_df.drop(columns=['Max Temp'])

In [6]:
fixed_city_df = drop_city_df.rename(columns={'Max Temp_two':'Max Temps'})

In [7]:
fixed_city_df

,City,Lat,Lng,Humidity,Cloudiness,Wind Speed,Country,Date,Max Temps
0,Saldanha,-33.0117,17.9442,82,6,2.57,ZA,1612404021,62.600
1,Georgiyevka,43.0369,74.7114,93,90,0.63,KZ,1612404021,23.000
2,Upernavik,72.7868,-56.1549,70,0,2.17,GL,1612404021,-15.520
3,Vaini,-21.2000,-175.2000,82,100,4.39,TO,1612404022,81.860
4,Qaanaaq,77.4840,-69.3632,64,0,2.20,GL,1612404022,-22.018
...,...,...,...,...,...,...,...,...,...
540,Whitehorse,60.7161,-135.0538,77,20,1.03,CA,1612404007,-4.000
541,Santa Cruz de la Sierra,-17.8000,-63.1667,83,75,6.69,BO,1612404006,77.000
542,Tortolì,39.9256,9.6572,88,0,5.14,IT,1612404177,57.002
543,Flinders,-34.5833,150.8552,65,46,2.24,AU,1612404177,82.994
544,Myitkyina,25.3833,97.4000,46,0,1.31,MM,1612404177,62.168

In [8]:
fixed_city_df['Hotel Names'] = ''

In [9]:
locations = fixed_city_df[["Lat","Lng"]].astype(float)
humid = fixed_city_df["Humidity"].astype(float)

In [10]:
gmaps.configure(api_key=g_key)
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations,weights = humid,dissipating=False,max_intensity=200,point_radius=5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
hotel_df = fixed_city_df.loc[(fixed_city_df['Cloudiness']==0) & (fixed_city_df['Wind Speed'] < 10) & (fixed_city_df['Max Temps'] < 80) & (fixed_city_df['Max Temps'] >= 70)].copy()

In [12]:
hotel_df

,City,Lat,Lng,Humidity,Cloudiness,Wind Speed,Country,Date,Max Temps,Hotel Names
31,Okato,-39.2000,173.8833,72,0,1.34,NZ,1612404031,71.996,
44,Atuona,-9.8000,-139.0333,71,0,4.32,PF,1612404035,78.170,
68,Takoradze,4.8845,-1.7554,86,0,3.04,GH,1612404043,79.484,
73,Harper,4.3750,-7.7169,89,0,3.45,LR,1612404044,78.440,
113,Grand Gaube,-20.0064,57.6608,86,0,1.34,MU,1612404030,75.992,
130,Saint-Philippe,-21.3585,55.7679,73,0,2.06,RE,1612404060,75.992,
132,Coyhaique,-45.5752,-72.0662,56,0,1.54,CL,1612404061,71.600,
188,Ballitoville,-29.5390,31.2144,88,0,0.51,ZA,1612404077,73.994,
205,Gogrial,8.5332,28.1004,26,0,0.35,SS,1612404081,75.488,
211,Birao,10.2849,22.7882,22,0,1.24,CF,1612404082,72.230,
225,Pisco,-13.7000,-76.2167,78,0,5.66,PE,1612404087,71.996,
249,Opunake,-39.4556,173.8583,72,0,1.34,NZ,1612404093,71.996,
286,Sawākin,19.1059,37.3321,75,0,1.24,SD,1612404102,75.236,
298,Lafia,8.4833,8.5167,19,0,0.93,NG,1612404111,73.670,
299,Esim,4.8699,-2.2405,86,0,2.88,GH,1612404111,79.160,
312,Maceió,-9.6658,-35.7353,88,0,1.54,BR,1612404115,75.200,
330,São João da Barra,-21.6403,-41.0511,87,0,7.84,BR,1612404119,77.324,
335,Tari,12.4086,4.4914,19,0,5.29,NG,1612404120,71.024,
361,Neuquén,-38.9516,-68.0591,53,0,3.06,AR,1612404127,73.400,
400,Edd,13.9297,41.6925,40,0,7.75,ER,1612404136,75.614,
455,Ribeirão das Neves,-19.7669,-44.0867,50,0,3.09,BR,1612404152,78.800,
484,Zhuhai,22.2769,113.5678,68,0,2.57,CN,1612404159,71.006,
537,Lima,-12.0432,-77.0282,78,0,2.57,PE,1612403405,77.000,

In [13]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    name_address = requests.get(base_url, params=params)
    
    name_address = name_address.json()
    #print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Names"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

In [14]:
hotel_df.to_csv("hotel_info.csv")

In [15]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Names}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [16]:
# h_name = hotel_info["Hotel Names"].tolist()
# type(hotel_info)
# hotel_info

In [17]:
hotel_mark = gmaps.marker_layer(locations,info_box_content=[f"Hotel Names: {hotel_info}"for hotel in hotel_info])

fig = gmaps.figure()
fig.add_layer(hotel_mark)

fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
#conda install -c conda-forge gmaps

In [19]:
#import ipywidgets as widgets
#widgets.IntSlider()

In [20]:
#!jupyter nbextension enable --py gmaps
#jupyter nbextension enable --py widgetsnbextension